<?xml version="1.0"?>
<!DOCTYPE fontconfig SYSTEM "urn:fontconfig:fonts.dtd">

{{ $emojiFont := "Noto Color Emoji" }}

<fontconfig>
	<match target="font">
		<edit name="antialias" mode="assign">
			<bool>true</bool>
		</edit>
	</match>

	<match target="font">
		<edit name="rgba" mode="assign">
			<const>rgb</const>
		</edit>
	</match>

	<match target="font">
		<edit name="hinting" mode="assign">
			<bool>true</bool>
		</edit>
		<edit name="hintstyle" mode="assign">
			<const>hintslight</const>
		</edit>
	</match>

	{{ range list "sans-serif" "serif" "monospace" }}
	<match target="pattern">
		<test qual="any" name="family">
			<string>{{ . }}</string>
		</test>
		<edit name="family" mode="prepend" binding="weak">
			<string>{{ $emojiFont }}</string>
		</edit>
	</match>
	{{ end }}
</fontconfig>
