[submodule "external/zsh-renew-tmux-env"]
	path = external/zsh-renew-tmux-env
	url = https://github.com/lljbash/zsh-renew-tmux-env.git
[submodule "qutebrowser/.config/qutebrowser/catpuccin"]
	path = qutebrowser/.config/qutebrowser/catpuccin
	url = https://github.com/catppuccin/qutebrowser.git
