[user]
	name = nonk123
	email = me@nonk.dev
	signingkey = 90B413C74ABDC40C2041AA026328CDD9A818A53D
[core]
	autocrlf = input
[github]
	user = nonk123
[commit]
	gpgsign = true
[pull]
	rebase = true
{{ if eq .chezmoi.os "windows" -}}
[gpg]
	program = {{ joinPath .chezmoi.homeDir "AppData\\\\Local\\\\Programs\\\\GnuPG\\\\bin\\\\gpg.exe" | quote }}
[http]
	sslBackend = openssl
{{- end }}
