[user]
	name = nonk123
	email = me@nonk.dev
	commitsigningkey = me@nonk.dev
	signingkey = me@nonk.dev
[commit]
	gpgsign = true
[pull]
	rebase = true
{{ if eq .chezmoi.os "windows" }}
[gpg]
	program = {{ .chezmoi.homeDir }}\\AppData\\Local\\Programs\\GnuPG\\bin\\gpg.exe
{{ end }}
