[user]
	name = nonk123
	email = me@nonk.dev
	signingkey = ~/.ssh/id_ed25519.pub
[core]
	autocrlf = input
[github]
	user = nonk123
[commit]
	gpgsign = true
[pull]
	rebase = true
[init]
	defaultBranch = master
[gpg]
	format = ssh
[http]
{{- if eq .chezmoi.os "windows" }}
	sslBackend = openssl
{{- end }}
{{- if .proxy }}
	proxy = {{ .proxy }}
{{- end }}
