* {
    font:
        12px Helvetica,
        Arial,
        sans-serif;
    border-radius: 0;
    border: none;
    box-shadow: none;
}

#waybar {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

#workspaces button {
    padding: 0 5px;
    background: inherit;
    transition: background-color 300ms ease-in-out;
}

#workspaces button:hover {
    background: rgb(255, 255, 255);
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    border-radius: 0;
    padding: 0 12px;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}
