* {
    text-shadow: none;
    box-shadow: none;
    border: none;
    border-radius: 0;
    font-family: Ubuntu, sans-serif;
    font-weight: 600;
    font-size: 14px;
    transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

window#waybar {
    background: transparent;
    color: #f8f8f2;
}

tooltip {
    background: rgba(0, 0, 0, 0.7);
}

.module {
    background: #2f343f;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 0;
    margin-right: 0;
}

label.module {
    padding: 0 8px;
}

.modules-left .module:first-child {
    margin-left: 2px;
}

.modules-right .module:last-child {
    margin-right: 2px;
}

tooltip,
.module {
    border-radius: 5px;
}

tooltip label {
    color: #f8f8f2;
}

#custom-os_button {
    font-size: 24px;
    padding-left: 12px;
    padding-right: 20px;
}

button:hover,
widget:hover {
    background: rgba(200, 200, 200, 0.3);
    color: #f8f8f2;
}

#tray image {
    padding: 0 8px;
}

#taskbar button:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#taskbar button:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#taskbar button.active {
    background: rgba(255, 255, 255, 0.3);
}

#temperature.critical {
    color: #dd7700;
}
