# /usr/lib/systemd/system/tun2socks.service

[Unit]
Description=tun2socks crap
After=network.target
Requires=xray.service

[Service]
User=root
ExecStart=/usr/local/bin/tun2socks -proxy socks5://127.0.0.1:1080 -device tun0 -interface enp2s0 -loglevel warn
Restart=on-failure

[Install]
WantedBy=multi-user.target
