[Unit]
Description=Emacs text editor
Documentation=info:emacs man:emacs(1) https://gnu.org/software/emacs/

[Service]
Type=forking
Environment=SSH_AUTH_SOCK=%t/keyring/ssh
ExecStart=/usr/bin/env emacs -Q -l %h/.emacs.d/neo-init.el --daemon
ExecStop=/usr/bin/env emacsclient -e "(kill-emacs)"
Restart=on-failure

[Install]
WantedBy=default.target
