[Unit]
Description=Fluidsynth MIDI thing
Documentation=man:fluidsynth(1)
After=sound.target
Requires=sound.target

[Service]
ExecStart=/usr/bin/env fluidsynth -i --server -a pulseaudio -m alsa_seq -g 1.0 /home/nonk/Misc/Unison.sf2
Restart=on-failure

[Install]
WantedBy=default.target
