XTerm.termName: xterm-256color

XTerm.borderWidth: 0

XTerm.vt100.locale: true

XTerm.vt100.allowSendEvents: true
XTerm.vt100.metaSendsEscape: true
XTerm.vt100.backarrowKey: false
XTerm.ttyModes: erase ^?

XTerm.vt100.saveLines: 4096
XTerm.vt100.selectToClipboard: true
XTerm.vt100.faceName: Hack:pixelsize=12
