#define black #31313e
#define blue #4051da
#define green #56b636
#define cyan #52b7c0
#define red #ce3137
#define magenta #8e3aba
#define brown #f0a22a
#define lgray #afb5b7
#define dgray #767681
#define lblue #6295ed
#define lgreen #aff239
#define lcyan #acebd9
#define lred #f8503e
#define lmagenta #dd62c5
#define yellow #fcef62
#define white #ffffff

*background:  black
*foreground:  white
*cursorColor: white

*color0:  black
*color8:  dgray

*color1:  red
*color9:  lred

*color2:  green
*color10: lgreen

*color3:  brown
*color11: yellow

*color4:  blue
*color12: lblue

*color5:  magenta
*color13: lmagenta

*color6:  cyan
*color14: lcyan

*color7:  lgray
*color15: white

XTerm.termName: xterm-256color

XTerm.borderWidth: 0

XTerm.vt100.locale: true

XTerm.vt100.metaSendsEscape: true
XTerm.vt100.backarrowKey: false
XTerm.ttyModes: erase ^?

XTerm.vt100.saveLines: 4096
XTerm.vt100.selectToClipboard: true

i3wm.font:        xft:DejaVu Sans Mono for Powerline:pixelsize=12
XTerm.vt100.faceName: DejaVu Sans Mono for Powerline:pixelsize=12
st.font:              DejaVu Sans Mono for Powerline:pixelsize=12
emacs*font:           DejaVu Sans Mono for Powerline:pixelsize=12

XTerm.vt100.translations: #override \n\
        Ctrl Shift <Key> C: copy-selection(CLIPBOARD) \n\
        Ctrl Shift <Key> V: insert-selection(CLIPBOARD) \n\
        Ctrl <Key> minus: smaller-vt-font() \n\
        Ctrl <Key> plus: larger-vt-font()
