#define black #202731
#define blue #006aff
#define green #44b839
#define cyan #729cfb
#define red #d43655
#define magenta #b032ff
#define brown #d97641
#define lgray #aac4b2
#define dgray #80979c
#define lblue #30a5ff
#define lgreen #90ff4f
#define lcyan #a8d4ff
#define lred #ff5252
#define lmagenta #ff6bff
#define yellow #ffe866
#define white #fffae8

*background:  black
*foreground:  white
*cursorColor: white

*color0:      black
*color8:      dgray

*color1:      red
*color9:      lred

*color2:      green
*color10:     lgreen

*color3:      brown
*color11:     yellow

*color4:      blue
*color12:     lblue

*color5:      magenta
*color13:     lmagenta

*color6:      cyan
*color14:     lcyan

*color7:      lgray
*color15:     white

XTerm.vt100.metaSendsEscape: true

i3wm.font:        xft:Terminus:size=8:antialias=false:autohint=false
XTerm.vt100.faceName: Terminus:size=8:antialias=false:autohint=false
st.font:              Terminus:size=8:antialias=false:autohint=false
emacs*font:           Terminus      8
