#define black #202731
#define blue #006aff
#define green #44b839
#define cyan #729cfb
#define red #d43655
#define magenta #b032ff
#define brown #d97641
#define lgray #aac4b2
#define dgray #80979c
#define lblue #30a5ff
#define lgreen #90ff4f
#define lcyan #a8d4ff
#define lred #ff5252
#define lmagenta #ff6bff
#define yellow #ffe866
#define white #fffae8

*background:  black
*foreground:  white
*cursorColor: white

*color0:  black
*color8:  dgray

*color1:  red
*color9:  lred

*color2:  green
*color10: lgreen

*color3:  brown
*color11: yellow

*color4:  blue
*color12: lblue

*color5:  magenta
*color13: lmagenta

*color6:  cyan
*color14: lcyan

*color7:  lgray
*color15: white

XTerm.termName: xterm-256color

XTerm.borderWidth: 0

XTerm.vt100.locale: true

XTerm.vt100.allowSendEvents: true
XTerm.vt100.metaSendsEscape: true
XTerm.vt100.backarrowKey: false
XTerm.ttyModes: erase ^?

XTerm.vt100.saveLines: 4096
XTerm.vt100.selectToClipboard: true

i3wm.font:        xft:Hack:pixelsize=12
XTerm.vt100.faceName: Hack:pixelsize=12
st.font:              Hack:pixelsize=12
emacs*font:           Hack:pixelsize=12

XTerm.vt100.translations: #override \n\
        Ctrl Shift <Key> C: copy-selection(CLIPBOARD) \n\
        Ctrl Shift <Key> V: insert-selection(CLIPBOARD) \n\
        Ctrl <Key> minus: smaller-vt-font() \n\
        Ctrl <Key> plus: larger-vt-font()
