[Unit]
Description=ADSL Daemon
After=sys-subsystem-net-devices-enp2s0.device
Requires=sys-subsystem-net-devices-enp2s0.device
Before=network-online.target

[Service]
Type=forking
ExecStart=/usr/bin/pppoe-start
ExecStop=/usr/bin/pppoe-stop

[Install]
WantedBy=multi-user.target
