[Unit]
Description=ZeroTier One
After=network-online.target
Requires=network-online.target

[Service]
ExecStart=/usr/bin/zerotier-one
Restart=always
KillMode=process

[Install]
WantedBy=multi-user.target
