* {
    font-family: "Monaspace Neon";
    font-size: 12px;
    border-radius: 0;
}

button {
    background: transparent;
    border: none;
}

window#waybar {
    background: rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces button {
    padding: 0 5px;
    color: rgb(255, 255, 255);
    border-radius: 8px;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    padding: 0 12px;
    color: rgb(255, 255, 255);
}

#window,
#workspaces {
    margin: 0 4px;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

@keyframes blink {
    to {
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
    }
}

#battery.critical:not(.charging) {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#language {
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: rgb(255, 255, 255);
}
